@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --dark1: black;
    --dark2: rgb(20, 20, 20);
    --dark3: lightgray;
    --dark4: rgb(168, 168, 168);
    --light1: white;
    --light2: rgb(173, 173, 173);
    --light3: rgb(201, 201, 201);
    --light4: rgb(179, 179, 179);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: var(--dark1);
}

body.light-mode {
    background-color: var(--light1);
}

.mode {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}


.mode:hover {
    scale: 1.1;
}

.mode img {
    height: 40px;
}

body.light-mode .mode img {
    filter: invert(1);
}

.show-calc {
    border: 3px solid var(--light1);
    color: var(--light1);
}

body.light-mode .show-calc {
    border: 3px solid var(--dark1);
    color: var(--dark1);
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
}

.show-calc {
    text-align: left;
    padding: 5px 0px;
    padding-left: 5px;
    font-size: 30px;
}

.button-style {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    border: 2px solid var(--light1);
    cursor: pointer;
    transition: 0.1s;
}

body.light-mode .button-style {
    border: 2px solid var(--dark1);
}

.button-style:hover.gray {
    background-color: var(--light4);
}

.button-style:hover.orange {
    background-color: rgba(216, 140, 0, 0.74);
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.gray {
    background-color: var(--dark3);
}

body.light-mode .gray {
    background-color: var(--light3);
}

.orange {
    background-color: rgba(255, 166, 0, 0.74);
}

.align-c {
    text-align: right;
    margin-right: 10px;
}

.calculator-container {
    background-color: var(--dark2);
    border: 2px solid var(--light1);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

body.light-mode .calculator-container {
    background-color: var(--light2);
    border: 2px solid var(--dark1);
}

 